
@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content(Model.ProductImgPreview)" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.ProductName</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.PricePreview</div>
                    <p>
                        @Model.ShortDescription
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                @*<span class="dec qtybtn">-</span>*@
                                <input type="text" value="1">
                                @*<span class="inc qtybtn">+</span>*@
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn" style="text-decoration:none">ADD TO CARD</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Weight</b> <span>@Model.Weight</span></li>
                        <li><b>Dimensions</b> <span>@Model.Dimensions</span></li>
                        <li><b>Materials</b> <span>@Model.Materials</span></li>
                        <li><b>Size</b>
                @foreach (var item in ViewBag.Size)
                {
                    <button type="button" class="btn btn-light">@item.SizeName</button>
                    }
                </li>
    
                        @*<li><b>Size</b><button type="button" class="btn btn-light">@ViewBag.size</button></li>*@
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="https://www.facebook.com/nhatriet.24/"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/dec.24_/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.pinterest.com/nhatriet2412/"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Reviews <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                                                        <!-- COMMENT-->


@*<!-- Hiển thị danh sách bình luận -->
@if (Model.Comments != null && Model.Comments.Any())
{
    <div class="comments-container">
        <h3>Comments</h3>
        <ul class="comment-list">
            @foreach (var comment in Model.Comments)
            {
                <li class="comment">
                    <div class="comment-header">
                        <span class="comment-user">@comment.UserName</span>
                        <span class="comment-date">@comment.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</span>
                    </div>
                    <div class="comment-content">@comment.Content</div>
                </li>
            }
        </ul>
    </div>
}*@

<!-- Form để thêm bình luận mới -->
<div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Thêm bình luận
        </h4>
    <div class="card overflow-hidden">
        
            <div class="add-comment-container">
   @* <form id="addCommentForm">*@
         <input type="hidden" id="productId" value="@Model.ProductId" />
                 <div class="card-body">
                 <div class="form-group">
                 <label class="form-label">Tên đăng nhập</label>
                  <input type="text" id="userName" class="form-control mb-1">
                  </div>
                  <div class="form-group">
                   <label class="form-label" for="commentContent">Comment: </label>
                   <input type="text" id="commentContent" class="form-control">
                   </div>
                   </div>
                 <div class="text-right">
                 <button type="submit" id="submitCommentBtn" class="btn btn-success">Submit Comment</button>
                 </div>
   @* </form>*@
            </div>
    </div>
</div>
@*
    <script>
    //Thông báo thành công
    <div id="successMessage" class="alert alert-success" style="display:none;">
        Comment added successfully!
    </div>
    // Gửi yêu cầu thêm bình luận khi người dùng nhấn nút
    $("#submitCommentBtn").click(function () {
        var productId = $("#productId").val();
        var userName = $("#userName").val();
        var content = $("#commentContent").val();

        $.ajax({
            type: "POST",
            url: "/Product/AddComment",
            data: { productId: productId, userName: userName, content: content },
            success: function () {
                <div id="successMessage" class="alert alert-success" style="display:none;">
                    Comment added successfully!
                </div>
                $("#comment-list-container").load("/Product/GetComments?productId=" + productId);
                // Hiển thị thông báo
                $("#successMessage").fadeIn(1000);

                // Ẩn thông báo sau một khoảng thời gian
                setTimeout(function () {
                    $("#successMessage").fadeOut(1000);
                }, 3000);

            }
        });
    });
   
    </script>
*@